<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:aop="http://www.springframework.org/schema/aop" 
		xmlns:context="http://www.springframework.org/schema/context" 
		xmlns:util="http://www.springframework.org/schema/util" 
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.dorado" />
	
	<bean class="com.dorado.framework.event.EventDispatcher" id="eventDispatcher">
		<constructor-arg index="0" value="d_push" />
	</bean>
	
	<!-- push message相关 -->
	<!-- <bean id="enhancerChain" class="com.helios.notification.push.MessageEnhancerChain">
		<property name="enhancers">
			<list>
				<ref bean="papaBadgeMessageEnhancer" />
			</list>
		</property>
	</bean> -->

	<!-- <bean id="allPlatformChannelService" class="com.dorado.push.service.impl.AllPlatformChannelService" lazy-init="true" /> -->
    
    <!-- Getui -->
	<!-- <bean id="androidMessageService"
		class="com.dorado.push.service.impl.AndroidGetuiPushChannelService" lazy-init="true"> -->
		<!-- <property name="deviceTokenDAO" ref="androidGetuiDeviceTokenDAO" /> -->
		<!-- <property name="enhancers">
			<map key-type="com.dorado.push.constants.AppName">
				<entry key="PAPA" value-ref="enhancerChain" />
			</map>
		</property> -->
		<!-- <property name="badgeStore">
			<map key-type="com.dorado.push.constants.AppName">
				<entry key="PAPA" value-ref="papaBadgeStore" />
				<entry key="WAVE" value-ref="waveBadgeStore" />
			</map>
		</property> -->
	<!-- </bean> -->
	
	<!-- IOS APNS -->
	<!-- <bean id="iosMessageService" class="com.dorado.push.service.impl.IOSAPNSChannelService" lazy-init="true">
		<property name="deviceTokenDAO" ref="iosAPNSDeviceTokenDAO"/>
	</bean> -->
</beans>