.ld-ball,.ld-ring,.ld-hourglass,.ld-loader,.ld-cross,.ld-square,.ld-pie,.ld-spinner {
	width: 1em;
	height: 1em;
	position: relative;
	color: inherit;
	display: inline-block
}

.ld-ball:after,.ld-ring:after,.ld-hourglass:after,.ld-loader:after,.ld-cross:after,.ld-square:after,.ld-pie:after,.ld-spinner:after {
	position: absolute;
	margin: auto;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: " ";
	display: inline-block;
	background: center center no-repeat;
	background-size: cover
}

.ld-spinner:after {
	width: 20%;
	height: 20%;
	border-radius: 50%;
	background: 0;
	box-shadow: 0 .5em 0 0 currentColor,0 -.5em 0 0 currentColor,.5em 0 0 0 currentColor,-.5em 0 0 0 currentColor,.35355339059327373em .35355339059327373em 0 0 currentColor,-.35355339059327373em .35355339059327373em 0 0 currentColor,.35355339059327373em -.35355339059327373em 0 0 currentColor,-.35355339059327373em -.35355339059327373em 0 0 currentColor
}

@-webkit-keyframes ld-spin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		animation-timing-function: cubic-bezier(0.55,0.055,0.675,0.19)
	}

	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		animation-timing-function: cubic-bezier(0.215,0.61,0.355,1)
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@-moz-keyframes ld-spin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		animation-timing-function: cubic-bezier(0.55,0.055,0.675,0.19)
	}

	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		animation-timing-function: cubic-bezier(0.215,0.61,0.355,1)
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@-webkit-keyframes ld-spin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		animation-timing-function: cubic-bezier(0.55,0.055,0.675,0.19)
	}

	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		animation-timing-function: cubic-bezier(0.215,0.61,0.355,1)
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@-o-keyframes ld-spin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		animation-timing-function: cubic-bezier(0.55,0.055,0.675,0.19)
	}

	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		animation-timing-function: cubic-bezier(0.215,0.61,0.355,1)
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes ld-spin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		animation-timing-function: cubic-bezier(0.55,0.055,0.675,0.19)
	}

	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		animation-timing-function: cubic-bezier(0.215,0.61,0.355,1)
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

.ld.ld-spin {
	-webkit-animation: ld-spin 1s infinite;
	animation: ld-spin 1s infinite
}

.mask.loading {
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mask.loading span {
	color: #fff;
}

.mask.loading .txt {
	color: #fff;
	font-size: 0.26rem;
	margin-left: 0.2rem;
}